@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --text-color: #000;
    --text-color-2: #000;
    --text-color-light: #0000004d;

    --bg-color: #f3f3f3;
    --bg-color-2: #fff;
    --bg-color-3: lightgrey;
    --bg-color-light: rgba(243, 243, 243, 0.5);
}

body.dark-mode {
    --text-color: #d4d7dd;
    --text-color-2: #00e0ff;
    --text-color-light: rgba(212, 215, 221, 0.3);

    --bg-color: #0a2e3f;
    --bg-color-2: #124d69;
    --bg-color-3: #0a2e3f;
    --bg-color-light: rgba(10, 46, 63, 0.5);
}
